Source: kdenetwork
Section: kde
Priority: optional
Maintainer: Debian Qt/KDE Maintainers <debian-qt-kde@lists.debian.org>
Uploaders: Ana Beatriz Guerrero Lopez <ana@debian.org>, Sune Vuorela <debian@pusling.com>, Fathi Boudra <fabo@debian.org>, Armin Berres <trigger+debian@space-based.de>, Modestas Vainius <modestas@vainius.eu>, Matthew Rosewarne <mrosewarne@inoutbox.com>
Build-Depends: cdbs, debhelper (>= 5), cmake, quilt, kdepimlibs5-dev (>=4:4.0.0-1),
 libphonon-dev (>=4:4.0.0-1), libxdamage-dev, libxss-dev, libslp-dev, libiw-dev, libidn11-dev,
 libvncserver-dev (>=0.9.3), libqca2-dev, libplasma-dev,
 libsqlite3-dev, libdecibel-dev, libqimageblitz-dev
Standards-Version: 3.7.3
Homepage: http://www.kde.org/

Package: kdenetwork
Section: kde
Architecture: all
Depends: kget (>= ${source:Version}), knewsticker (>= ${source:Version}),
 kopete (>= ${source:Version}), kppp (>= ${source:Version}),
 krdc (>= ${source:Version}), krfb (>= ${source:Version})
Recommends: kdenetwork-filesharing (>= ${source:Version})
Description: networking applications from the official KDE 4 release
 KDE is produced by an international technology team that creates free and open
 source software for desktop and portable computing. Among KDE's products are a
 modern desktop system for Linux and UNIX platforms, comprehensive office
 productivity and groupware suites and hundreds of software titles in many
 categories including Internet and web applications, multimedia, entertainment,
 educational, graphics and software development.
 .
 This metapackage includes networking applications provided with the official
 release of KDE 4.

Package: kdenetwork-filesharing
Section: net
Architecture: any
Depends: ${shlibs:Depends}, perl-suid
Description: network filesharing configuration module for KDE 4
 This package provides a System Settings panel to configure network
 file-sharing using NFS and Samba.
 .
 This package is part of the KDE 4 networking module.

Package: kdenetwork-dev
Section: devel
Architecture: any
Depends: kopete (= ${binary:Version}), kdebase-dev (>= 4:4.0.0-1)
Description: development files for the KDE 4 networking module
 This package contains development files for building software that uses
 libraries from the KDE 4 networking module.

Package: kget
Section: net
Architecture: any
Depends: ${shlibs:Depends}
Suggests: khelpcenter
Description: download manager for KDE 4
 KGet is an advanced download manager with support for Metalink and Bittorrent.
 Downloads are added to the list, where they can be paused, queued, or
 scheduled for later.
 .
 This package is part of the KDE 4 networking module.

Package: knewsticker
Section: kde
Architecture: any
Depends: ${shlibs:Depends}
Suggests: khelpcenter
Description: news ticker applet for KDE 4
 This package contains the News Ticker Plasma applet, which continuously
 scrolls through entries in a news feed.
 .
 This package is part of the KDE 4 networking module.

Package: kopete
Section: kde
Architecture: any
Depends: ${shlibs:Depends}
Recommends: libqca2-plugin-ossl
Suggests: kdeartwork-emoticons, khelpcenter
Description: instant messenger for KDE 4
 Kopete is an instant messaging and chat application with support for a wide
 variety of services, such as AIM, Yahoo, ICQ, MSN, IRC, and Jabber.  Advanced
 features and additional protocols are available as plugins.
 .
 This package is part of the KDE 4 networking module.

Package: kppp
Section: net
Architecture: any
Depends: ${shlibs:Depends}, ppp
Suggests: khelpcenter
Description: modem dialer for KDE 4
 KPPP is a modem dialer for connecting to a dial-up Internet Service Provider.
 It displays statistics and accounting information to help users keep track of
 connection costs.
 .
 This package is part of the KDE 4 networking module.

Package: krdc
Section: net
Architecture: any
Depends: ${shlibs:Depends}
Recommends: rdesktop
Suggests: khelpcenter, krfb
Description: Remote Desktop Connection client for KDE 4
 The KDE Remote Desktop Connection client can view and control a desktop
 session running on another system.  It can connect to Windows Terminal Servers
 using RDP and many other platforms using VNC/RFB.
 .
 This package is part of the KDE 4 networking module.

Package: krfb
Section: net
Architecture: any
Depends: ${shlibs:Depends}
Suggests: khelpcenter, krdc
Description: Desktop Sharing for KDE 4
 KDE Desktop Sharing is a manager for easily sharing a desktop session with
 another system.  The desktop session can be viewed or controlled remotely by
 any VNC or RFB client, such as the KDE Remote Desktop Connection client.
 .
 KDE Desktop Sharing can restrict access to only users who are explicitly
 invited, and will ask for confirmation when a user attempts to connect.
 .
 This package is part of the KDE 4 networking module.

Package: kdenetwork-dbg
Section: libdevel
Architecture: any
Priority: extra
Depends: kdebase-runtime-dbg
Recommends: kdebase-workspace-dbg
Suggests: kdenetwork (= ${source:Version})
Description: debugging symbols for the KDE 4 networking module
 This package contains debugging files used to investigate problems with
 binaries included in the KDE 4 networking module.
