Source: kdenetwork
Section: kde
Priority: optional
Maintainer: Debian Qt/KDE Maintainers <debian-qt-kde@lists.debian.org>
Uploaders: Ana Beatriz Guerrero Lopez <ana@debian.org>, Sune Vuorela <debian@pusling.com>, Fathi Boudra <fabo@debian.org>, Armin Berres <trigger+debian@space-based.de>, Modestas Vainius <modestas@vainius.eu>
Build-Depends: cdbs, debhelper (>= 5), cmake, quilt, kdepimlibs5-dev (>=4:3.98.0~svn755919-1), 
 libphonon-dev (>=4:3.98.0~svn755919-1), libxdamage-dev, libxss-dev, libslp-dev, libiw-dev, libidn11-dev, 
 libvncserver-dev (>=0.9.3), libqca2-dev, libplasma-dev,
 libsqlite3-dev, libdecibel-dev, libqimageblitz-dev
Standards-Version: 3.7.3

Package: kdenetwork
Section: kde
Architecture: all
Depends: kget (>= ${binary:Version}), knewsticker (>= ${binary:Version}), kopete (>= ${binary:Version}), kppp (>= ${binary:Version}), krdc (>= ${binary:Version}), krfb (>= ${binary:Version})
Recommends: kdenetwork-filesharing (>= ${binary:Version}), lisa (>= ${binary:Version})
Description: network-related apps from the official KDE4 release
 KDE (the K Desktop Environment) is a powerful Open Source graphical
 desktop environment for Unix workstations. It combines ease of use,
 contemporary functionality, and outstanding graphical design with the
 technological superiority of the Unix operating system.
 .
 This metapackage includes a collection of network and networking related
 applications provided with the official release of KDE4.


Package: kdenetwork-filesharing
Section: net
Architecture: any
Depends: ${shlibs:Depends}, perl-suid
Description: network filesharing configuration module for KDE4
 This package provides a KDE Control Center module to configure
 NFS and Samba.
 .
 This package is part of KDE4, as a component of the KDE4 network module.
 See the 'kde' and 'kdenetwork' packages for more information.

Package: kdenetwork-dev
Section: devel
Architecture: any
Depends: kopete (= ${binary:Version}), kdebase-dev (>= ${binary:Version})
Description: development files for the KDE4 network module
 This is the development package which contains the headers for the KDE RSS
 library as well as the Kopete chat client, as well as miscellaneous
 development-related files for the KDE4 network module.
 .
 This package is part of KDE4, as a component of the KDE4 network module.
 See the 'kde' and 'kdenetwork' packages for more information.

Package: kget
Section: net
Architecture: any
Depends: ${shlibs:Depends}
Suggests: khelpcenter
Description: download manager for KDE4
 KGet is a a download manager similar to GetRight or Go!zilla. It keeps
 all your downloads in one dialog and you can add and remove transfers.
 Transfers can be paused, resumed, queued or scheduled.
 Dialogs display info about status of transfers - progress, size, speed
 and remaining time. Program supports drag & drop from KDE
 applications and Netscape.
 .
 This package is part of KDE4, as a component of the KDE4 network module.
 See the 'kde' and 'kdenetwork' packages for more information.

Package: knewsticker
Section: kde
Architecture: any
Depends: ${shlibs:Depends}
Suggests: khelpcenter
Description: news ticker applet for KDE4
 This is a news ticker applet for the KDE panel. It can scroll news from
 your favorite news sites, such as lwn.net, /. and freshmeat.net.
 To achieve this, KNewsTicker requires the news sites to provide a
 RSS feed to newsitems. KNewsTicker already comes with a selection of
 good news sources which provide such files.
 .
 This package is part of KDE4, as a component of the KDE4 network module.
 See the 'kde' and 'kdenetwork' packages for more information.

Package: kopete
Section: kde
Architecture: any
Depends: ${shlibs:Depends}
Recommends: libqca2-plugin-ossl
Suggests: khelpcenter
Description: instant messenger for KDE4
 Kopete is an instant messenger program which can communicate with a variety
 of IM systems, such as Yahoo, ICQ, MSN, IRC and Jabber.
 .
 Kopete includes the "Now Listening" plug-in that can report what music you
 are currently listening to, in a number of different players, including
 noatun, kscd, juk, kaffeine and amarok.
 .
 Support for more IM protocols can be added through a plugin system.
 .
 This package is part of KDE4, as a component of the KDE4 network module.
 See the 'kde' and 'kdenetwork' packages for more information.

Package: kppp
Section: net
Architecture: any
Depends: ${shlibs:Depends}, ppp
Suggests: khelpcenter
Description: modem dialer and ppp frontend for KDE4
 KPPP is a dialer and front end for pppd. It allows for interactive
 script generation and network setup. It will automate the dialing in
 process to your ISP while letting you conveniently monitor the entire
 process.
 .
 Once connected KPPP will provide a rich set of statistics and keep
 track of the time spent online for you.
 .
 This package is part of KDE4, as a component of the KDE4 network module.
 See the 'kde' and 'kdenetwork' packages for more information.

Package: krdc
Section: net
Architecture: any
Depends: ${shlibs:Depends}
Suggests: rdesktop, khelpcenter
Description: Remote Desktop Connection for KDE4
 krdc is an KDE graphical client for the rfb protocol, used by VNC,
 and if rdesktop is installed, krdc can connect to Windows Terminal
 Servers using RDP.
 .
 This package is part of KDE4, as a component of the KDE4 network module.
 See the 'kde' and 'kdenetwork' packages for more information.

Package: krfb
Section: net
Architecture: any
Depends: ${shlibs:Depends}
Suggests: khelpcenter
Description: Desktop Sharing for KDE4
 Desktop Sharing (krfb) is a server application that allows you to share
 your current session with a user on another machine, who can use a
 VNC client like krdc to view or even control the desktop. It doesn't
 require you to start a new X session - it can share the current session.
 This makes it very useful when you want someone to help you perform a
 task.
 .
 This package is part of KDE4, as a component of the KDE4 network module.
 See the 'kde' and 'kdenetwork' packages for more information.

Package: lisa
Section: net
Architecture: any
Depends: ${shlibs:Depends}
Suggests: khelpcenter, samba-common
Description: LAN information server for KDE4
 LISa is intended to provide KDE with a kind of "network neighborhood"
 but relying only on the TCP/IP protocol.
 .
 This package is part of KDE4, as a component of the KDE4 network module.
 See the 'kde' and 'kdenetwork' packages for more information.

Package: kdenetwork-dbg
Section: libdevel
Architecture: any
Priority: extra
Depends: kdebase-dbg
Description: debugging symbols for kdenetwork
 This package contains the debugging symbols associated with kdenetwork.
 They will automatically be used by gdb for debugging kdenetwork-related
 issues.
